# Entorno
NODE_ENV=production
PORT=5001

# Base de datos (dentro del contenedor)
REKER_DB_PATH=/app/data/reker.db

# Seguridad (🚨 CAMBIAR EN PRODUCCIÓN)
JWT_SECRET=escribe_aqui_una_clave_larga_y_aleatoria_para_fichar_los_tokens
DEFAULT_ADMIN_PASSWORD=ContrasenaInicialFuerte123!
